html {
    background-color: rgb(204, 204, 221);
}

.leadership-title {
    padding: 1%;
    text-align: center;
}

.profile-card {
    width: 85%;
    background-color: rgb(179, 203, 201); 
    
    outline-style: solid;
    outline-color: grey;
    filter: drop-shadow(0px 0px 8px rgba(0,0,0,.5));
    margin: auto;
}

.profile-pic {
    margin: 1%; 
    padding: 5%;
   
}

p {
    text-align: center;
    padding-top: 4px;

}

.info-div {
    padding-bottom: 25px;
}

.image {
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
}